

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    z-index: 4;
    

    .barIcon {
        transition: transform 0.3s ease;

        img {
            width: 50px;
            transform: rotate(180deg);
            margin-left: 10px;

            &:hover {
                width: 52px;
            }
        }
    }

    &.open {
        .barIcon {
            img {
                transform: rotate(0deg);
            }
        }
    }

    .menuBar {
        display: none;
        .S-ul {
            border: 1px solid red;
            width: fit-content;
            border-radius: 20px;
            border: 0.5px solid rgba(255, 255, 255, .2);
            background: transparent;
            backdrop-filter: blur(5px);
            margin: 10px 10px;
            .S-li {
                  width: 30px; 
                  margin: 10px;
                span {
                    img {
                        max-width: 100%; 
                    }
                }
            }
        }
    }
    .display-block {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        position: fixed;
    }
}



