


.sidebar {
    min-height: 100vh;
    .barIcon {
        img{
            width: 50px;
            transform: rotate(270deg); /* หมุนรูปภาพ 180 องศา */
            margin-left: 10px;
            &:hover{
                width: 52px;
            }
        }
    }

    .menuBar {
        ul {
            border: 1px solid red;
            width: fit-content;
            border-radius: 20px;
            border: 0.5px solid rgba(255, 255, 255, .2);
            background: transparent;
            backdrop-filter: blur(5px);
            margin: 10px 10px;
            li {
                  width: 30px; 
                  margin: 10px;
                a {
                    img {
                        max-width: 100%; 
                    }
                }
            }
        }
    }
}
