.audio-main {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}

.borderBG-audio {
  width: 864px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.time {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 20px; /* 20px ทั้งทางซ้ายและขวา */
}

.audio-player {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

// .btn-play {
//   background: none;
//   border: none;
//   cursor: pointer;
//   overflow: hidden;
// }

// .btn-skrip {
//   background: none;
//   border: none;
//   cursor: pointer;
// }

// .icon {
//   font-size: 30px; /* ปรับขนาดไอคอนตามต้องการ */
//   color: #fff; /* สีของไอคอน */
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.namemusic {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.line {
  height: 45px;
  border-left: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
}
@media screen and (max-width: 1024px) {
  .borderBG-audio{
    width: 80%;
    display: flex;
    flex-direction: row;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
   margin-bottom: 60px;

    .btn-play {
      cursor: pointer;
      overflow: hidden;
      
    }
    .namemusic{
      display: none;
    }

    .time {
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 20px 20px; /* 20px ทั้งทางซ้ายและขวา */
    }

    .line {
      display: none;
      height: 45px;
      border-left: 2px solid rgba(255, 255, 255, 1);
      border-radius: 50px;
    }

    .costom-volume{
        position: relative;
      .slide-volume{
        position: absolute;
        z-index: 5;
        right: -40px;
        top: -45px;
      }
    }

  }

}

