.contentlink {
  position: absolute;
  top:50%;
  left: 90%;

  .contentInput {
    width: 300px;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    cursor: move;
    justify-content: space-between;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    background: rgba(187, 152, 255, 1);
    backdrop-filter: blur(5px);
    

    input {
      border: 0.5px solid rgba(61, 61, 61, 1);
      outline: none;
      background: none;
      width: 250px;
      height: 15px;
      border-radius: 5px;
      background: rgba(187, 152, 255, .5);
      color: rgba(61, 61, 61, 1);
      ::placeholder {
        color: #ffffff; // สีขาว
      }
    }
  }
  .App {
    min-width: 390px;
    min-height: 270px;
    resize: both;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    &.resizable {
      resize: both;
    }

    .video-container {
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
