body {
    overflow-y: hidden;
    overflow-x: hidden;
    // background: url('https://admin.adaddictth.com/files/20230412_LofiGirl_4.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    user-select: none;

  }
  
  :root,
  body,
  html {
    background-color: rgb(34, 34, 34);
    box-sizing: border-box;
    // height: 100%;

  }
  
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  html,
  i,
  img,
  label,
  li,
  nav,
  p,
  small,
  span,
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    list-style: none;
    // color: #fff;
  }