body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh; /* ทำให้ body มีความสูงอย่างน้อย 100% ของ viewport */
    overflow: hidden; /* ไม่ให้มีการสกอเม้า */
}
.main{
    // width: 100%;
    // height: 100vh;
}
video{
}
.content{
    
    
}

.audioplayer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 90%;
    display: flex;
    justify-content: center;
}
