/* Home.scss */

.main {
  .modeName {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    min-height: 100%;
    z-index: 1;
    p {
      margin-bottom: 60px;
      margin-right: 60px;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 1024px) {
      p {
        margin-bottom: 3px;
        margin-right: 3px;
        font-size: 1rem;
      }
    }
  }
  .btn-rain {
    position: fixed;
    z-index: 4;
    right: 50px;
    bottom: 50%;
  }
}

.audioplayer {
  flex-grow: 1;
  z-index: 2;
}

video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .videofirst{
    position: absolute;
  }
  
  .videosecond{
    position: absolute;
  }
