.side-volume {
    width: 150px;
    height: 100px;
    display: inline-block;
    position: relative;


  .button-rain {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: relative; /* เพิ่มบรรทัดนี้ */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    
    img {
      width: 50%;
      height: 50%;
      padding: 10px;
    }
    &:hover {
      background: #bb98ff;
      + .slide {
        display: block;
      }
    }
  }
  .slide{
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    left: 10%;
    display: none;
    height: 60px;
    .rage-volume{
      display: block;
      bottom: -25px;
    }
    &:hover {display: block;}
    bottom: 5px;
  }

  .display-block {
    display: block;
  }
}
