/* catagory.scss */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap");

.category-modal-container {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 415px;
  height: 480px;
  background: rgba(227, 242, 253, 0.7);
  border: 0 solid #000000;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(100, 98, 98, 0.2);
}

.category-modal-title {
  border-radius: 0px 0px 10px 25px;
  background: #bb98ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(100, 98, 98, 0.2); //border
  position: relative;
  align-items: center;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  cursor: move;
}
.category-title {
  max-width: fit-content;
  padding: 10px;
  span {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 4px #000000;
  }
}

.category-modal-title-second {
  border-bottom: 1px solid rgba(61, 61, 61, 1);
  border-radius: 50px;
  max-width: fit-content;
  margin: 5px;
  span {
    padding: 5px;
    font-weight: 600;
    margin-right: 15px;
    color: rgb(155, 65, 240);
    text-shadow: 2px 2px 4px #ffffff;
    font-family: "Roboto", sans-serif;
  }
}

.Carousel {
  width: 100%;
  height: 2px;
}
.Slider {
  width: 83%;
  position: relative;
  left: auto;
  margin: 5px;
}
/* catagory.scss */

.custom-slick-next {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 95%;
  top: 30%;
  cursor: pointer;
  background-color: #bb98ff;
  color: #ffffff;
  box-shadow: 0px -2px 4.1px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 50px;
  outline: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #ad78f8;
    box-shadow: 0px -2px 4.1px 0px rgba(0, 0, 0, 0.25) inset;
  }
  .nextarrow {
    margin-top: 5px;
    width: 50%;
    height: auto;
  }
}
.custom-slick-prev {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 30%;
  right: 95%;
  cursor: pointer;
  background-color: #bb98ff;
  color: #ffffff;
  box-shadow: 0px -2px 4.1px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 50px;
  outline: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #ad78f8;
    box-shadow: 0px -2px 4.1px 0px rgba(0, 0, 0, 0.25) inset;
  }
  .prevarrow {
    margin-top: 5px;
    width: 60%;
    height: auto;
  }
}

.image-slide {
  width: 70%;
}

.button-close {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  &:hover {
    background: rgba(
      255,
      255,
      255,
      0.8
    ); /* ตั้งค่าสีพื้นหลังที่สว่างขึ้นเล็กน้อย */
    transition: background 0.3s ease; /* เพิ่ม transition เพื่อให้การเปลี่ยนแปลงเป็นไปอย่างนุ่มนวล */
  }

  .cards-image {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-slide {
      // Add styles for the image
      max-width: 100%;
      max-height: 100%;
    }
  }

  .cardtext {
    padding: 5px;
    color: #272626;
    font-family: "Roboto", sans-serif;
    

  }
}

.card-image {
  width: 160px;
  height: 155px;
  flex-shrink: 0;
  background: rgba(187, 152, 255, 0.7);
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* เพิ่มบรรทัดนี้ */
  overflow: hidden;
  flex-direction: column;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
  span {
    font-size: 2rem;
  }
  .coti-img {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #fff;
  }
}

.card-image-third {
  position: relative;
  width: 160px;
  height: 155px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.img-icon-category {
  max-width: fit-content;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.silde-grop {
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .category-modal-container {
    width: 300px;
    height: auto;
    position: absolute;
    top: -40%;
    left: 50%;
    

  }
  .Slider {
    width: 70%;
    position: relative;
    left: auto;
    margin: 5px;
  }
  .card-image {
    width: 200px;
    height: 155px;
  }
  .card-image-third {
    width: 200px;
    height: 155px;
  }

  .custom-slick-next {
    display: none;
  }
  .custom-slick-prev {
    display: none;
  }
}
