.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h1 {
        color: #3498db;
    }
    
    p {
        font-size: 18px;
        color: #333;
    }
    
}


// .login-button {
//     display: inline-block;
//     padding: 10px 20px;
//     background-color: #3498db;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 5px;
//     transition: background-color 0.3s ease;
// }

// .login-button:hover {
//     background-color: #1c6ca1;
// }